body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.5);
}
#calculator{
    background-color: hsl(0, 0%, 15%);
    border-radius: 70px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 0px 0px 20px hsl(0, 0%, 100%);
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    overflow: scroll;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsla(271, 97%, 42%, 1);
}
.operator-btn:hover{
    background-color: hsl(271, 97%, 42%, 0.54);
}
.operator-btn:active{
    background-color: hsla(271, 92%, 69%, 0.74);
}